@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

header.main {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;

  background-image: url("../../static/images/gwang.jpg");
  background-image: url("/go/static/images/gwang.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: center;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  section.main {
    flex: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

section.main {
  display: flex;
  gap: 5px;
  padding: 1rem;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  section {
    flex: 1;
  }
}

section.station {
  overflow-y: auto;
  ul {
    list-style: none;
    li {
      display: flex;
    }
  }

  form {
    width: 100%;
    background-color: #eee;
    padding: 0.8rem;

    input {
      display: block;
      width: 90%;
      border: 1px solid #ddd;
      padding: 12px;
      margin: 5px auto;
      border-radius: 10px;
    }
  }

  span {
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding: 12px 16px;
    &:nth-of-type(2) {
      flex: 1;
    }

    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}

section.stop_time {
  overflow-y: auto;
  h1 {
    text-align: center;
  }
}

ul.arrive-list {
  list-style: none;
  li {
    border-bottom: 1px solid #ddd;
    display: flex;

    span {
      padding: 12px 16px;
      flex: 1;
      white-space: nowrap;
    }

    h1.error {
      text-align: center;
      color: blue;
      width: 100%;
      padding: 8px;
    }
  }
}

li.title span {
  font-weight: 900;
}

@media (max-width: 900px) {
  section.main {
    flex-direction: column;
    section {
      width: 90%;
      scrollbar-width: none;
    }
  }
}
